<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>error</title>
</head>

<body>
  <h1>
    <%- message %>
  </h1>
  <% if(locals.open_time){ %>
    開票まで：<%- open_time / 1000 %> 秒<br>
      <% } %>
        <a href="/">タイトル</a>
        <a href="/vote">投票に戻る</a>
</body>

</html>