<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>logout</title>
  <link rel='stylesheet' href='/stylesheets/logout.css' />

</head>

<body>
  <div class="header">
    <h1 class="title">VoteApp</h1>
    <p class="id"><input type="button" value="ログイン" onclick="login()"></p>
  </div>
  <h1>ログアウトしました</h1>

  <script>
    function login() {
      window.location.href = '/';
    }
  </script>
</body>

</html>