<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>submitted</title>
  <link rel='stylesheet' href='/stylesheets/submitted.css' />

</head>

<body>
  <div class="header">
    <h1 class="title">VoteApp</h1>
    <p class="id">id: <%- id %>
    </p>
  </div>
  <h1 class="vote">投票画面</h1>
  <% if(name=='' ){ %>
    <p class="vote_msg already">既に投票済みです</p>
    <a href="../">戻る</a>
    <a href="/result_view">結果を見る</a>
    <% } else{%>
      <p class="vote_msg">
        <%- name %>さんに投票しました
      </p>
      <a href="/result_view">結果を見る</a>
      <% } %>
</body>

</html>