<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>submitted</title>
</head>

<body>
  <% if(name=='' ){ %>
    既に投票済みです。
    <a href="../">戻る</a>
    <% } else{%>
      <p>
        <%- name %>さんに投票しました
      </p>
      <a href="/result_view">結果を見る</a>
      <% } %>
</body>

</html>