<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vote</title>
  <style type="text/css">
    #post {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 300px;
      margin: -150px 0px 0px -200px;

    }

    body {
      background-color: cadetblue;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>
  <script language="JavaScript" type="text/javascript">
    function doSign() {
      var rsa = new RSAKey();
      rsa.readPrivateKeyFromPEMString(document.form1.private_key.value);
      var hashAlg = 'sha1';
      var hSig = rsa.sign(document.form1.candidate.value, hashAlg);
      document.form1.siggenerated.value = linebrk(hSig, 64);
    }
  </script>

</head>

<body>
  id: <%- id %>

    <div id="post">
      <h1>投票してください。</h1>
      <form action="/submitted" method="post" name="form1">
        <input type="hidden" name="id" value=<%- id %>>
        <input type="radio" name="candidate" value="A">A
        <input type="radio" name="candidate" value="B">B
        秘密鍵：<br>
        <textarea name="private_key" cols="30" rows="10"></textarea>
        <input type="hidden" name="siggenerated">
        <!--<input type="file" name="private_key" size=10 accept=".key"></file> -->
        <input type="submit" value="投票" onClick="doSign();">
      </form>
    </div>
</body>

</html>