<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vote</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>
  <script language="JavaScript" type="text/javascript">
    function doSign() {
      var rsa = new RSAKey();
      if (document.form1.private_key.value == "" || document.form1.candidate.value == "") {
        alert('必要事項を記載してください。');
        return false;
      } else {
        rsa.readPrivateKeyFromPEMString(document.form1.private_key.value);
        var hashAlg = 'sha1';
        var hSig = rsa.sign(document.form1.candidate.value, hashAlg);
        document.form1.signature.value = linebrk(hSig, 64);
        return true;
      }

    }
  </script>
  <link rel='stylesheet' href='/stylesheets/vote.css' />

</head>

<body>
  <div class="header">
    <h1 class="title">VoteApp</h1>
    <p class="id">id: <%- id %>
    </p>
  </div>


  <h1 class="vote">投票画面</h1>
  <div class="post">
    <form action="/submitted" method="post" name="form1" onSubmit="return doSign()">
      <input type="hidden" name="id" value=<%- id %>>
      <div class="radio_cls">
        <p>①立候補者</p>
        <span class="radio_btn_char">A</span>
        <span class="radio_btn_char">B</span>
        <div>
          <input type="radio" name="candidate" value="A">
          <input type="radio" name="candidate" value="B">
        </div>

      </div>
      <p>②あなたの秘密鍵</p>
      <textarea name="private_key"></textarea>
      <input type="hidden" name="signature">
      <!--<input type="file" name="private_key" size=10 accept=".key"></file> -->
      <div><input type="submit" value="投票"></div>
    </form>
  </div>
</body>

</html>